.gitHubStatsCard {
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  background-color: #141321;
  color: hotpink;
}
.gitHubStatsCard span {
  color: #a2f4ed;
}

.gitHubStatsCard h3 {
  margin: 0;
  margin-top: 2px;
}
.gitHubStatsCard h4 {
  margin: 0;
  margin-top: 2px;
}
.gitHubStatsCard .gitHubStatsCard__wrapper {
  padding: 20px;
  max-width: 500px;
}

.gitHubStatsCard .gitHubStatsCard__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.gitHubStatsCard .gitHubStatsCard__stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.gitHubStatsCard .MuiSvgIcon-root {
  color: yellow;
  margin-right: 5px;
}

@media (min-width: 425px) {
  .gitHubStatsCard .gitHubStatsCard__description {
    flex-direction: row;
  }
  .gitHubStatsCard .gitHubStatsCard__stars {
    flex-direction: row;
  }
}
